<%- include("partials/header.ejs"); %>
<div class="three-columns">
  <div class="column">
    <p class = "question">What are blogs ?</p>
    <p class = "question-answer">Blogs (short for web logs) are online journals or informational websites where individuals or 
        groups share content on a variety of topics — from personal stories to technical tutorials, 
        lifestyle tips, news, and more
    </p>
    <p>
        Features of blogs : 
        <ul class = "question-answer">
            <li>Regularly updated content</li>
            <li>Can include text, images, videos, and links</li>
            <li>Posts displayed in reverse chronological order</li>
        </ul>
    </p>
  </div>
  <div class="column">
    <p class = "question">Importance of reading blogs</p>
    <p class = "question-answer">
        Reading blogs offers numerous benefits, both personal and professional:
    </p>
    <p>
        Why it's important : 
        <ul class = "question-answer">
            <li><strong>Knowledge Expansion : </strong>Learn from real experiences, tutorials, reviews, or insights</li>
            <li><strong>Stay Updated : </strong>Keep up with trends in tech, fashion, business, etc.</li>
            <li><strong>Improves Thinking & Vocabulary : </strong>Exposure to diverse writing styles and ideas</li>
            <li><strong>Inspiration : </strong>Find motivation, creative ideas, or solutions</li>
        </ul>
    </p>
  </div>
  <div class="column">
    <p class = "question">Why you should start a blog ?</p>
    <p class = "question-answer">
        Starting a blog can be one of the most rewarding and impactful things you do — personally, professionally, or creatively
    </p>
    Reaasons :  
        <ul class = "question-answer">
            <li><strong>Express Yourself : </strong>Share your ideas, stories, or expertise</li>
            <li><strong>Build a Personal Brand : </strong>Great for careers in writing, tech, marketing, etc.</li>
            <li><strong>Improve Writing Skills : </strong>Regular writing builds confidence and clarity</li>
            <li><strong>Earn Money : </strong>With ads, affiliate marketing, sponsorships, or products</li>
        </ul>
  </div>
</div>
<%- include("partials/footer.ejs"); %>